.wrapper {
  height: 100%;
  width: 100%;
}

.level {
  position: fixed;
  height: 100%;
  width: 100%;
}

.create {
  position: fixed;
  height: 100%;
  width: 100%;
}

.board {
  position: relative;
}

.square {
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 10%;
  /*box-shadow: 0.5px 3px 5px grey;*/
}

button, #create_grid,
#create {
  border: 1px solid black;
  border-radius: 10%;
  height: 100px;
  width: 100px;
  background: lightgrey;
  position: absolute;
}

button:hover, #create_grid:hover,
#create {
  background-color: grey;
}

.create form {
  position: absolute;
  height: 25%;
  width: 30%;
  top: 25%;
  left: 34%;
  /*border: 1px solid black;*/
}

.create form * {
  height: 2em;
  line-height: 2em;
  width: 90%;
  margin: 5%;
}

#create_grid {
  position: absolute;
  left: 28%;
}

#create {
  position: fixed;
  top: 75%;
  left: 43%;
}

li {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

li:hover {
  background-color: lightgrey;
}

#sign_in, #sign_out {
  position: fixed;
  top: 3%;
  left: 80%;
}

#sign_in {
  height: 3em;
}

.scrollbox {
  overflow:auto;
  overflow-x:hidden;
  position: absolute;
}

ul {
  margin: 0;
  padding: 0;
}