<div class="create">
  <form>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="d" placeholder="Dimension">
    <button id="create_grid">Create Grid</button>
  </form>
</div>
