<div class="create">
  <form>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="x" placeholder="Width">
    <input type="text" name="y" placeholder="Height">
    <button id="create_grid">Create Grid</button>
  </form>
</div>
