<div>
  <% if @user %>
    <button id="sign_out">Sign Out</button>  
  <% else %>
    <img id="sign_in" src="https://cdn1.iconfinder.com/data/icons/new_twitter_icon/491/bird_twitter_new_simple.png"/>
  <% end %>
  <ul class="puzzles">
    <% @levels.each do |level| %>
      <li>
        <a href="/level/<%= level.id %>">
          <%= level.name %>
        </a>
      </li>
    <% end %>
  </ul>
  <button id="create">Create Puzzle</button>
</div>
