<div>
  <% if @user %>
    <button id="sign_out">Sign Out</button>  
  <% else %>
    <img id="sign_in" src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"/>
  <% end %>
  <ul class="puzzles">
    <% @levels.each do |level| %>
      <li>
        <a href="/level/<%= level.id %>">
          <%= level.name %>
        </a>
      </li>
    <% end %>
  </ul>
  <button id="create">Create Puzzle</button>
</div>
