<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/piece.js"></script>
  <script src="/js/level.js"></script>
  <script src="/js/screenUtil.js"></script>
  <script src="/js/board.js"></script>
  <script src="/js/jquery.touchSwipe.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/button_actions.js"></script>
  <script src="/js/buttons.js"></script>
  <script src="/js/resize.js"></script>
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
