<div data-id="<%=  %>"></div>
    <ul class="puzzles">
    <% @games.each do |game| %>
      <li>
          <%= game.user.username %> - <%= game.keystrokes.length %>
      </li>
    <% end %>
  </ul>
  <button id="retry">Retry</button>
</div>
